In [1]:
import os
CURDIR = os.getcwd().split("\\")
if "notebooks" in CURDIR:
    n = len(CURDIR) - CURDIR.index("notebooks")
    os.chdir(os.getcwd() + ("\\.." * n))

In [2]:
from visualize import *
from prep import *
import seaborn as sns
diamonds = sns.load_dataset("diamonds")

In [36]:
tab = prep_freq_table(diamonds, "cut").to_pandas()
from typing import Union
import pandas as pd
def prep_format(
        tab:pd.DataFrame,
        int_cols: Union[None,str,list] = None,
        percent_cols: Union[None,str,list] = None,
        float_cols: Union[None,str,list] = None,
        digits = 2):
    if isinstance(percent_cols,str):
        percent_cols = [percent_cols]
    if isinstance(float_cols,str):
        float_cols = [float_cols]
    if all([col is None for col in [int_cols,percent_cols,float_cols]]):
        # default all numeric:
        format_mapping = {col: f"{{:,.{digits}f}}" for col in tab.select_dtypes(include='number').columns}
        for key, value in format_mapping.items():
            tab[key] = tab[key].apply(value.format)
    else:
        if int_cols is not None:
            tab[int_cols] = tab[int_cols].astype(int)
        if percent_cols is not None:
            format_mapping = {col: f"{{:,.{digits}%}}" for col in percent_cols}
            for key, value in format_mapping.items():
                tab[key] = tab[key].apply(value.format)
        if float_cols is not None:
            format_mapping = {col: f"{{:,.{digits}f}}" for col in float_cols}
            for key, value in format_mapping.items():
                tab[key] = tab[key].apply(value.format)
        # integers, percents und floats separat angeben 
    return tab
prep_format(tab.sort_values("count"), percent_cols=["proportion"])

         cut  count proportion
4       Fair   1610      2.98%
2       Good   4906      9.10%
1  Very Good  12082     22.40%
3    Premium  13791     25.57%
0      Ideal  21551     39.95%

In [13]:
tab = prep_freq_table(diamonds, "cut").to_pandas()

tab

         cut  count  proportion
0      Ideal  21551           0
1       Fair   1610           0
2    Premium  13791           0
3  Very Good  12082           0
4       Good   4906           0

   count  proportion
0   1610           0
1  21551           0
2   4906           0
3  13791           0
4  12082           0